<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head') %>
    
    <title><%= title %></title>
</head>

<%- include('layouts/header'); -%>


        <!-- Hero section -->
        <div class="mx-auto max-w-screen-lg px-3 py-6">
            <div class="flex flex-col items-center md:flex-row-reverse md:justify-between md:gap-x-24">
                
                <div class="md:flex md:shrink-0">
                    <img class="h-80 w-64" src="images/avatar.webp" alt="Avatar image">
                </div>

                <div class="flex flex-col items-center text-center md:block md:text-left">
                    <h1 class="text-3xl font-bold">
                        <span>Hi there,</span> 
                        <span class="inline-block">
                            I'm <span class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"><%=constants.author.full_name %></span>
                            <span class="animate-waving-hand inline-block">👋</span>
                        </span>
                    </h1>

                    <p class="mt-6 text-xl leading-9"><%=constants.SEO.hero_text%></p>

                    <!-- social buttons -->
                    <div class="mt-9 flex gap-4 justify-center md:justify-start">
                        <a href="<%=constants.author.github %>" target="_blank">
                            <i class="fa-brands fa-github text-sky-500 text-2xl transform transition duration-200 hover:scale-150"></i>
                        </a>
                        <a href="<%=constants.author.facebook %>" target="_blank">
                            <i class="fa-brands fa-facebook text-sky-500 text-2xl transform transition duration-200 hover:scale-150"></i>
                        </a>
                        <a href="<%=constants.author.linkedin %>" target="_blank">
                            <i class="fa-brands fa-linkedin text-sky-500 text-2xl transform transition duration-200 hover:scale-150"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Topics -->
        <div class="mx-auto max-w-screen-lg px-3 py-6">
          
          <!-- section title -->
          <div class="flex items-center justify-between flex-col sm:flex-row mb-6">

            <div class="text-2xl font-bold">Recent <span class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent">Projects</span>
            </div>
            
            <div class="text-sm font-bold">
              <a href="/projects">View all Projects  →</a>
            </div>
          </div>

          <!-- list last 5 projects -->
          <div class="flex flex-col gap-6">

            <% topics.forEach(function(entry) { %>
                <div class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row">
                    <div class="shrink-0 overflow-auto mb-3 md:mb-0 w-full h-64 sm:h-96 md:h-36 md:w-48">

                        <!-- PROJECT IMAGE -->
                        <!-- <a href="/projects/<%=entry.slug%>">
                            <img class="h-36 w-36 rounded-l-xl transform transition duration-200 hover:scale-105" src="<%= entry.thumbnail_image.url %>" alt="<%=entry.title %> image">
                        </a> -->

                        <a href="projects/<%=entry.slug%>" class="w-full h-full block rounded-t-lg mx-auto bg-cover bg-center shadow-[inset_0px_-36px_34px_-20px_rgba(31,41,55,0.53)]" style="background-image:url('<%=entry.thumbnail_image%>')"></a>


                    </div>
                    <div class="w-full">
                        <div class="flex flex-col items-center gap-y-2 md:flex-row">
                            <a class="hover:text-cyan-400" href="/projects/<%=entry.slug %>">
                                <!-- PROJECT TITLE -->
                                <div class="text-xl font-semibold md:mr-4"><%- entry.title %></div>
                            </a>
                            <div class="flex flex-wrap justify-center gap-2">

                                <% if(entry.tags.length) { %>
                                    <% for(var i = 0, j = entry.tags.length; i < j; i++) { %>
                                        <% const tag = entry.tags[i].sys.id %>

                                        <div class="rounded-md px-2 py-1 text-xs font-semibold <%=tagsConfig[''+ tag +''].colors %>"><%=tagsConfig[''+ tag +''].tagName %></div>

                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                        <div class="mt-3 text-gray-300 text-center md:text-left overflow-auto scrollbar-hide">
                          <%- entry.description %>
                        </div>
                    </div>
                </div>
            <% }) %>

          </div>
        </div>

<%- include('layouts/footer'); -%>

</html>